= form_for([@event, @attendee]) do |f|
  - if @attendee.errors.any?
    #errorExplanation
      %h2
        = pluralize(@attendee.errors.count, "error")
        prohibited this attendee from being saved:
      %ul
        - @attendee.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .actions.clearfix
    = f.submit(:class => 'btn tk-bree')
