:css
  table {
    width: 100%;
  }

.grid_8
  %h1.title.tk-bree Listing Attendees for #{@event.name}

  %table.list
    %tr
      %th.left ID
      %th.left Name
      %th.left Email
      %th.right Activation Code

    - @attendees.each do |attendee|
      %tr
        %td
          = attendee.id
        %td
          = attendee.name
        %td
          = attendee.email
        %td.right
          = attendee.passcode

  %p
    %a.btn.tk-bree{:href => (url_for attendee_list_event_path(@event))}
      %span
        Download Attendee List
    %a.btn.tk-bree{:href => (url_for new_event_attendee_path(@event))}
      %span
        Register New Attendee