.grid_3
  %h1.title.tk-bree Registration Details
  #attendee_photo
    = image_tag @attendee.photo.url(:thumb)
  %p
    %ul
      %li
        %b Name:
        = @attendee.name
      %li
        %b Email:
        = @attendee.email
.grid_5
  %h1.title.tk-bree Further Instructions
  %p
    Thank you for registering for
    %strong
      #{@event.name}.
    Your registration passcode is:
  %p
    %ul.passcode
      -@attendee.passcode.split('').each do |d|
        %li= d