= stylesheet_link_tag 'gui.css', 'timeframe.css'
= javascript_include_tag 'prototype.js', 'timeframe.js'

:css
  #dates_field {
  }

  input.date {
  width: 100px;
  padding-left: 9px;
  }

  #calendar_dates {
  margin-bottom: 20px;
  }

  #calendar_dates input.error {
    background-color: #FFCCCC;
  }

  #dates_field {
  margin-top: 15px;
  }

= form_for(@event) do |f|
  - if @event.errors.any?
    #errorExplanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.label :name, 'Event Name:'
    = f.text_field :name
  .field#dates_field
    = f.label :not_before, 'Event Dates:'
    #calendars
    #calendar_dates
      From
      = f.text_field :not_before, :value => @event.not_before ? @event.not_before.strftime('%b %d, %Y') : '', :id => 'not_before', :class => 'date'
      to
      = f.text_field :not_after, :value => @event.not_after ? @event.not_after.strftime('%b %d, %Y') : '', :id => 'not_after', :class => 'date'
      %a#reset{ :href => '#', :onclick => 'return false;' } (reset)
  .field
    = f.label :admin_password, "Password for \"master_admin\""
    = f.text_field :admin_password
  .actions.clearfix
    = f.submit(:class => 'btn tk-bree')

:javascript
    new Timeframe('calendars', {
      startField: 'not_before',
      endField: 'not_after',
      earliest: new Date(),
      maxRange: 21,
      resetButton: 'reset' });
