:css

.grid_8
  %h1.title.tk-bree Listing Events
  %ul.clearfix#events_legend
    %li
      .color.present
      Current
    %li
      .color.past
      Completed
    %li
      .color.future
      Upcoming
  %table.list.events
    %tr
      - if current_user.is_admin?
        %th.left ID
      %th.left Name
      - if current_user.is_admin?
        %th.left Owner
      %th.right Status
      %th.right Begins
      %th.right Ends

    - @events.each do |event|
      %tr{ :class => event_date_status(event) }
        - if current_user.is_admin?
          %td
            = event.id
        %td
          %a{ :href => url_for(event) }
            = event.name
        - if current_user.is_admin?
          %td
            = event.user.email
        %td.right
          = display_event_status(event)
        %td.right
          = event.not_before.strftime('%m/%d/%y')
        %td.right
          = event.not_after.strftime('%m/%d/%y')

  %p
    %a.btn.tk-bree{:href => (url_for new_event_path)}
      %span
        Create New Event
