<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bundle.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @bundle.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @bundle.end_date %>
</p>


<%= link_to 'Edit', edit_bundle_path(@bundle), :class => "button" %> |
<%= link_to 'Back', bundles_path, :class => "button" %>
