<!DOCTYPE html>
<html>
<head>
  <title>face2name Store</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="page">
    <div class="header"><span class="right_border"></span>
      <span class="user_status">
        <% if user_signed_in? %>
            welcome <%= current_user.email%>
            |
            <%= link_to "sign out", destroy_user_session_path %>
        <% end %>
      </span>
      <% if notice %>
        <span class="notice"><%= notice %></span>
      <% end %>
      <% if alert %>
        <span class="alert"><%= alert %></span>
      <% end %>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
