<!DOCTYPE html>
<html>
<head>
  <title>face2name Store</title>
  <% if not controller.instance_of?( Devise::SessionsController) and not controller.instance_of?( Devise::RegistrationsController) %>
    <%= stylesheet_link_tag :all %>
  <% end %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="page">
    <h2 class="header"><span><%= link_to 'home', home_path %>face2name</span></h2>
    <div class="body">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
